<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.corten.aha.worldclock" >

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="ch.corten.aha.worldclock.permission.WRITE_APP_DATA"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock"
        android:name=".MyApp" >

        <!-- clock widget -->
        <receiver
            android:name=".WorldClockWidgetProvider"
            android:exported="true"
            android:label="@string/clock_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/world_clock_appwidget_info" />
        </receiver>

        <service
            android:name=".WorldClockWidgetService"
            android:exported="false" />

        <receiver
            android:name=".ClockWidgetSystemReceiver"
            android:enabled="false"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- weather widget -->
        <receiver
            android:name=".WeatherWidgetProvider"
            android:enabled="@bool/enable_weather_widget"
            android:exported="true"
            android:label="@string/weather_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_info" />
        </receiver>

        <service
            android:name=".WeatherWidgetService"
            android:enabled="@bool/enable_weather_widget"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".UpdateWeatherService"
            android:exported="false" />

        <!-- data provider -->
        <provider
            android:name="ch.corten.aha.worldclock.provider.WorldClockContentProvider"
            android:authorities="ch.corten.aha.worldclock.provider"
            android:exported="true"
            android:writePermission="ch.corten.aha.worldclock.permission.WRITE_APP_DATA" />

        <!-- activities -->
        <activity
            android:name=".WorldClockActivity"
            android:label="@string/activity_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddClockActivity"
            android:exported="false" />
        <activity
            android:name=".EditClockActivity"
            android:exported="false" />
        <activity
            android:name=".WorldClockPreferenceActivity"
            android:exported="false" />

        <!-- compatibility weather widgets -->
        <receiver
            android:name=".compatibility.WeatherWidgetProvider2x1"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_2x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_2x1_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider2x2"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_2x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_2x2_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider2x3"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_2x3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_2x3_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider2x4"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_2x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_2x4_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider4x1"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_4x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_4x1_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider4x2"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_4x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_4x2_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider4x3"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_4x3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_4x3_info" />
        </receiver>
        <receiver
            android:name=".compatibility.WeatherWidgetProvider4x4"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="true"
            android:label="@string/weather_widget_name_4x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.WIDGET_DATA_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.corten.aha.worldclock.CLOCK_TICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_4x4_info" />
        </receiver>
        <service
            android:name=".compatibility.CompatWeatherWidgetService"
            android:enabled="@bool/enable_compat_widgets"
            android:exported="false" />
    </application>

</manifest>
